<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search School</title>
</head>
<style>
    table {
        border: 8px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid;
    }
</style>

<body>
    <h2 style="text-align:center"> School Information </h2>
    <table align="center" style="margin: 0px auto;">
        <thead>
            <tr>
                <th>School ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
            <tr>
                <td>{{school.SchoolId}}</td>
                <td>{{school.SchoolName}}</td>
                <td>{{school.SchoolAddress}}</td>
                <td>
                    <a href="/edit/{{school.pk}}">Update</a>
                </td>
                <td>
                    <a href="/remove/{{school.pk}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    <div class="alert alert-danger" role="alert">
        Do you want to enter more Schools?
    </div>

    <p>
        <a href="{% url 'insert-sho' %}"><-- Go To Home Page</a>
    </p>
</body>

</html>
